<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>EMS</title>
</head>
<body style="background-image:url('images/background.jpg')">
<!--<div style="position: absolute;z-index: -1;background-image:url('images/background.jpg');opacity:0.5"></div>-->
<div style="margin:20px">
    <div class="jumbotron">
        <p class="display-3">Employee Management System</p>
        <div class="float-right align-bottom">
            <a th:href="@{/home}"><button class="btn btn-outline-secondary">Login</button></a>

        </div>
    </div>
    <div class="container" style="background-color:#c3b7bc">
        <div class="row">
        <div class="col-3 card">
            <img src="../static/images/Steve_Jobs_Speaking.jpg" width="300" th:src="@{images/Steve_Jobs_Speaking.jpg}"/>
        </div>
        <div class="col-9 card">
            <p>
                During his tenure as the Chairman of the Board of Directors at Pixar,
                lost profits in the company’s three endeavors—hardware, software, and animated
                content—forced Jobs to make a round of deep layoffs. Jobs insisted that the employees were
                to be let go without warning or severance pay.

                Pamela Kerwin, then Pixar’s vice president and general manager,
                insisted that employees be given at least two weeks notice, to which Jobs is reported to have shot back,
                “Okay, but the notice is retroactive from two weeks ago.”
            </p>
        </div>
        </div>
    </div>
</div>
</body>
</html>