<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>EMS</title>
</head>
<body>
<div style="margin:20px">
    <div class="jumbotron">
        <div class="float-right align-bottom">
            <button class="btn-primary"><a th:href="@{/home}">Login</a></button>

        </div>
    </div>
    <div class="container" style="background-color:#c3b7bc">
        <p>lkkl lkajsdof alsdkj olaks jdfoialk ao jalskdfj oilka sdfoijasdk</p>
    </div>
</div>
</body>
</html>