<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:fragment="head" >
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body th:fragment="navbar" >
<!--<div class="jumbotron text-center" style="margin-bottom:0px;">-->
<!--    <h1>Employee Management System</h1>-->
<!--    <div class="text-md-right">Welcome:-->
<!--        &lt;!&ndash;<span th:text="${principal.name}"></span>&ndash;&gt;-->
<!--    </div>-->
<!--</div>-->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#106fce;">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <a class="navbar-brand" href="#"><h2 class="label-primary" style="color:#ffffff">EMS</h2></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" th:classappend="${#strings.contains(#httpServletRequest.requestURI, '/employee')} ? 'active':''">
                <a class="nav-link" th:href="@{/employee}" style="color:#ffffff">Employee <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" th:classappend="${#strings.contains(#httpServletRequest.requestURI, '/project')}? 'active':''">
                <a class="nav-link" th:href="@{/project}" style="color:#ffffff">Project</a><span  class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" th:classappend="${#strings.contains(#httpServletRequest.requestURI, '/task')}? 'active':''">
                <a class="nav-link" th:href="@{/task}" style="color:#ffffff">Task </a><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item"  sec:authorize="hasAuthority('MANAGER')" th:classappend="${#strings.contains(#httpServletRequest.requestURI, '/operation')}? 'active':''">
                <a class="nav-link" th:href="@{/operation}" style="color:#ffffff">Operation</a><span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <ul class="navbar-nav mr-right">
            <li class="nav-item float-right">
                <span style="color:#ffffff"> Hi </span><span sec:authentication="name" style="color:#ffffff"></span>
                <form th:action="@{/logout}" th:method="post">
                    <input class="btn btn-link" style="color:#ffffff" type="submit" value="Logout">
                </form>
            </li>
            <li>

            </li>
        </ul>
    </div>
</nav>
</body>
</html>